<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.devhogata.alertinfo" >
    <!-- インターネット通信の許可ここから -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- インターネット通信の許可ここまで -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_desktop_072"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AlertInfo"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WebViewActivity" >
        </activity>
        <!-- Alert通知レシーバ追加 -->
        <receiver
            android:name=".NotificationReceiver"
            android:process=":remote"/>
        <!-- Alert通知レシーバ追加ここまで -->
    </application>

</manifest>
